body{
    padding: 0;
    margin: 0;
}

/* .container{
    background-color: rgb(88, 180, 233)
} */

header{
    height: 80px;
    display: flex;
    background-color: purple;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
a{
    color: white;
    text-decoration: none;
    width: 115px;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
a.active{
    box-shadow: -2px 2px 2px 2px rgba(234,234, 245, .5);
}
section{
    /* height: 500px; */
    background-color: greenyellow;
}
section:nth-child(even){
    background-color: green;
    /* height: 800px; */
}

/* .main-container{
    height: 80vh;
    overflow: scroll;
} */

p{
    margin: 0;
    padding: 5px;
}